<div class="main-container">
  <h2 class="title">Blog/Streaming Test</h2>

  <div class="instructions">
    <div class="spanish">
      <h4>Instrucciones</h4>
      <ul>
        <li>
          Inserta la url del video y define cuantas veces quieres que se
          duplique (maximo 20)
        </li>
        <li>
          Los videos solo han sido probados directamente desde Youtube por el
          momento
        </li>
        <li>
          Puedes borrar la lista de videos con el boton para iniciar de nuevo
        </li>
      </ul>
    </div>
    <div class="english">
      <h4>Instructions</h4>
      <ul>
        <li>
          Insert video url and select how many duplicates you want for it (max
          20)
        </li>
        <li>The videos have been tested from Youtube only for the moment</li>
        <li>You can delete the list with the button to start over</li>
      </ul>
    </div>
  </div>

  <input
    #url
    class="input is-fullwidth"
    placeholder="Add url here..."
    (keydown.ENTER)="onSaveEntry(url, times)"
  />

  <input
    #times
    type="number"
    min="0"
    max="20"
    class="input is-fullwidth"
    placeholder="Title"
  />

  <button
    class="button is-info"
    type="submit"
    (click)="onSaveEntry(url, times)"
  >
    Save
  </button>

  <div class="video-containers">
    <ng-container *ngFor="let entry of entries; index as idx">
      <div class="card" *ngFor="let copy of entry.times">
        <div class="card-content">
          <iframe
            [src]="entry.url"
            width="208"
            height="167"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </ng-container>
  </div>
</div>
